* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

nav,
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  text-transform: capitalize;
}

li:not(:last-child) {
  margin-right: 2.5rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.content {
  margin-top: 5rem;
  width: 90%;
  margin: 0 auto;
}

.navbar.active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: orange;
  padding: 0.5rem 2rem;
}
